.card {
  width: 413px;
}
.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  width: 413px;
  margin-top: 12px;
}
.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 390px;
}
.card__delete-button {
  background-image: url(../images/delete_btn.svg);
  width: 32px;
  height: 32px;
  position: relative;
  top: 42px;
  left: 371px;
  border: none;
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete_hover.svg);
  transition: 1s;
}

.card__like-button {
  background-image: url(../images/Like_Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  cursor: pointer;
  transition-duration: 1s;
}
.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/Liked_Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.card__like-button_active:hover {
  opacity: 0.4;
}
@media screen and (max-width: 627px) {
  .card {
    width: 288px;
  }
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 260px;
  }
  .card__content {
    max-width: 288px;
  }
  .card__delete-button {
    top: 42px;
    left: 246px;
  }
}
