.modal {
  transition: visibility 0.3s, opacity 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  visibility: hidden;
  opacity: 0;
}
.modal__deleteCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 730px;
  background-color: #ffffff;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
}

.modal__content_type_preview {
  padding: 0;
  height: auto;
  max-width: fit-content;
  background-color: transparent;
  flex-direction: column;
}
.modal__content-deleteCard {
  flex-direction: row;
  max-width: 630px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__close-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 12.5px;
}

.modal__caption {
  background-color: rgba(33, 33, 33, 1);
  padding: 8px 4px;
  margin-top: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  width: fit-content;
}
.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 630px;
  height: 40px;
  align-self: center;
  padding: 32px 50px;
}
.modal__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  align-self: center;
  margin: 0;
  text-align: center;
}
.modal__title-deleteCard {
  padding: 32px 30px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
}

.modal__close-btn {
  height: 40px;
  width: 40px;
  padding: 0;
  background-image: url(../images/Close_btn.svg);
  border: none;
  background-color: transparent;
  background-size: cover;
  opacity: 0.4;
}
.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}
.modal__close-btn-preview {
  background-image: url(../images/Close_Icon_light.svg);
}
.modal__close-btn-deleteCard {
  background-image: url(../images/Close_Icon_light.svg);
}
.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  margin: 0;
  padding: 0px 50px 32px;
}
.modal__form-deleteCard {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
.modal__deleteCard-btn {
  background-color: rgba(255, 101, 101, 1);
  height: 52px;
  width: 156px;
  border: none;
  border-radius: 8px;
  padding: 0;
  margin-top: 0;
  margin-left: 149px;
  margin-bottom: 32px;
}
.modal__deleteCard-btn:hover {
  background-color: rgba(255, 51, 51, 1);
  cursor: pointer;
}
.modal__cancelDeleteCard-btn {
  height: 52px;
  width: 156px;
  border-radius: 8px;
  padding: 0;
  margin-top: 0;
  margin-right: 149px;
  margin-bottom: 32px;
}
.modal__cancelDeleteCard-btn:hover {
  background-color: rgba(33, 33, 33, 1);
  color: #ffffff;
  cursor: pointer;
}
.modal__label {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 17.6px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 17.6px;
  color: #212121;
  opacity: 0.7;
  gap: 8px;
  margin: 0;
  padding-bottom: 32px;
}

.modal__input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  height: 48px;
  border-radius: 8px;
  padding: 0;
  border: 1px solid gray;
  border-color: rgb(33, 33, 33, 0.4);
  padding-left: 16px;
}

.modal__input:hover {
  cursor: pointer;
  opacity: 1;
}
.modal__input_type_error {
  border-color: #ff0000;
}
.modal__submit-btn {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  height: 52px;
  width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
.modal__submit-btn_inactive {
  opacity: 0.5;
}
.modal__error {
  display: block;
  /* use correct color */
  color: #ff0000;
  opacity: 0.7;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 17px;
  font-size: 16px;
  /* visibility: hidden; */
}
@media screen and (max-width: 740px) {
  .modal__content {
    width: 300px;
    align-self: center;
  }
  .modal__form {
    display: flex;
    justify-content: center;
    width: 276px;
    padding: 12px;
  }
  .modal__label {
    padding-bottom: 24px;
  }
  .modal__input {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 0;
  }
  .modal__header {
    max-width: 276px;
    padding: 12px;
  }
  .modal__submit-btn {
    width: 100%;
  }
  .modal__caption {
    line-height: 19.2px;
    font-size: 16px;
  }
  .modal__close-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
  .modal__image {
    max-width: 288px;
  }
  .modal__content_type_preview {
    min-width: 288px;
  }
}
