.profile {
  display: flex;
  flex-direction: row;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__avatar-btn {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
  position: relative;
}
.profile__avatar-btn:hover {
  cursor: url("/src/images/cursor_deletebtns.png"), auto;
}
.profile__avatar-btn:hover .profile__avatar-btn-description {
  visibility: visible;
}
.profile__avatar-btn-description {
  position: absolute;
  top: 162px;
  right: 39px;
  left: 39.66px;
  bottom: 12px;
  width: 111.34px;
  height: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255, 1);
  visibility: hidden;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  max-width: 420px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
  opacity: 0.7;
}

.profile__edit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  margin-top: auto;
  border-radius: 8px;
  border: none;
  opacity: 0.7;
  width: 107.34px;
  height: 16px;
  background-color: transparent;
  padding: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: #212121;
  transition-duration: 1s;
  cursor: pointer;
}
.profile__edit-btn-writing {
  margin: 0;
}
.profile__edit-btn:hover {
  opacity: 1;
  transition-duration: 1s;
}
.profile__add-btn {
  font-weight: 500;
  gap: 8px;
  margin-left: auto;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  height: 52px;
  width: 149px;
  align-self: flex-end;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  line-height: 16px;
  cursor: pointer;
  transition-duration: 1s;
}
.profile__add-btn-plus {
  margin: 0;
  align-self: center;
}
.profile__add-btn-writing {
  margin: 0;
  align-self: center;
}

.profile__add-btn:hover {
  opacity: 0.8;
  transition-duration: 1s;
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
    position: relative;
  }
  .profile__avatar-btn {
    margin: 0;
    width: 80px;
    height: 80px;
  }

  .profile__avatar-btn-description {
    color: transparent;
    position: absolute;
    top: 59.44px;
    left: 50px;
    bottom: 4.66px;
  }
  .profile__avatar-Pencil {
    position: absolute;
    background-color: rgb(33, 33, 33, 0.6);
    border-radius: 6px;
    border-width: 23.34px;
  }
  .profile__avatar-btn :hover .profile__avatar-Pencil {
    visibility: visible;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }
  .profile__column {
    margin-bottom: 20px;
  }
  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }
  .profile__edit-btn {
    align-self: center;
  }
  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
